NEXT_PUBLIC_API_URL=https://radiant-badlands-16719.herokuapp.com/api

NEXT_PUBLIC_SOCKET_API_URL=https://boulderando-api.herokuapp.com
# NEXT_PUBLIC_SOCKET_API_URL=http://localhost:4444

# Execute book session in a simulated way (true/false)
NEXT_PUBLIC_DRY_RUN=true

# Set it on vercel because it builds
# NEXT_PUBLIC_SENTRY_DSN=<https://sentry.io/settings/cristian-sx/projects/cristian-boulderando/keys/>
# SENTRY_PROJECT=cristian-boulderando
# SENTRY_ORG=cristian-sx
# SENTRY_AUTH_TOKEN=<https://sentry.io/settings/account/api/auth-tokens/>
