{
  "extends": [
    "prettier",
    "plugin:cypress/recommended"
  ],
  "rules": {
    "jest/valid-expect":"off",
    "jest/valid-expect-in-promise": "off",
    "jest/no-standalone-expect": "off",
    "jest/expect-expect": "off"
  }
}
